.ant-list-split .ant-list-item:last-child{
    display: none !important;
}
.header-class > .ant-typography{
    color: orange !important;
}
.ls-task-info{
    display: none !important;
}
.view-container{
    background-color: aquamarine !important;
}
.my-custom-class{
    background-color: brown !important;
}